<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Running Packages Suite">

    <test name="Running Packages Tests">
        <packages>
            <package name="Team03.tests.us24"></package>
            <package name="Team03.tests.us25"></package>
            <package name="Team03.tests.us26"></package>
        </packages>
    </test>


</suite>